<div class="center jumbotron">
    <h1 style="color: #003D7A">Welcome RampUp Developers Boston</h1>
    <h2>The homepage of StartUp Institutes Proffessional Ruby Developers</h2>
    
    <%= link_to "Sign up now!", "", class: "btn btn-lg btn-success" %>
</div>
<div class="row">
    <div class="col-lg-4">
        <h3 class="midrow">
            View Developers as Guest User
        </h3>    
        <h2 class="left">Browse code examples as a guest and Sign up Later</h2>    
        <p><%= link_to "Browse Code Examples", programs_path, class: "btn btn-info btn-small", id: "browseBtn" %></p>
    </div>    
    <div class="col-lg-4">
        <h3 class="midrow">
            View Developers as Guest User
        </h3>    
        <h2 class="left">Browse code examples as a guest and Sign up Later</h2>    
        <p><%= link_to "Browse Code Examples", "", class: "btn btn-info btn-small", id: "browseBtn" %></p>
    </div>
    <div class="col-lg-4">
        <h3 class="midrow">
            View Developers as Guest User
        </h3>    
        <h2 class="left">Browse code examples as a guest and Sign up Later</h2>    
        <p><%= link_to "Browse Code Examples", "", class: "btn btn-info btn-small", id: "browseBtn" %></p>
    </div>
</div>    